.card-jogo {
  width: 250px;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-jogo:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/*
  Quando o usuário passa o mouse sobre o card:
  .card-jogo:hover aplica transform e box-shadow,
  fazendo o card parecer que se eleva.
  A propriedade transition faz essa mudança acontecer
  de forma suave, em vez de instantânea.
*/

.card-jogo img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}

.card-jogo h2 {
  margin: 16px 16px 8px;
  font-size: 1.2rem;
}

.card-jogo p {
  margin: 0 16px 16px;
  color: #555;
}

.informacoes-jogo {
  display: flex;  /*Transforma o container em um Flex Container.*/
  justify-content: space-between; /*distribui os elementos horizontalmente.*/
  align-items: center; /*alinha os elementos verticalmente.*/
  gap: 8px; /*define um pequeno espaço entre eles.*/
}

.informacoes-jogo span {
  font-size: 0.9rem;
  color: #555;
}

.card-jogo h2 {
  margin: 16px 16px 8px;
  font-size: 1.2rem;
  color: #222;
}